.modal {
  display: none; /* Inicialmente oculta */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  margin-top: 6%;
  margin-left: 50%;
  background-color: #fffcfc;
  border: 1px solid #888;
  width: 20rem;
  height: 20rem;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: fadeIn 0.5s; /* Animación de entrada */
}

.carrito-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 25% 75%;
}
.box_img1{
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  grid-column: 1/2;
}
.box_img1 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.caja_descri1{
  font-size: 1rem;
  text-align: center;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60% 40%;
}
.name1 {
  margin-bottom: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.price {
  color: #888; /* Precio con color más claro */
}
  
.eliminar {
  color: white;
  background-color: red;
  border-radius: 2rem;
  width: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.eliminar:hover {
  color: rgb(54, 3, 3);
}
  