#div_product_list{
    display: grid;
    grid-template-columns: repeat(4,15rem);
    gap: 1.5rem;
}       
.item_product{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 1rem;
    padding: 2px;
    height: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
}
.box_img { 
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 
.box_img  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.box_description{
    grid-column: 1/3;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
}
.name{
    grid-column: 1/3;
}
.buy_btn{
    width: 7rem;
    height: 2rem;
    background-color: rgba(219, 187, 151, 0.582);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy_btn:hover{
    border: 1px solid rgba(236, 112, 112, 0.164);
    box-shadow: 5px 5px 10px 0px rgba(236, 112, 112, 0.5);
}