/* Estilos básicos para la ventana modal de inicio de sesión */
.modal1 {
    display: none; /* Inicialmente oculta */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content1 {
    margin-top: 6%;
    margin-left: 70%;
    background-color: #fffcfc;
    border: 1px solid #888;
    width: 20rem;
    height: 20rem;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.login-form button:hover {
    background-color: #348a38;
}
.password-container{
    display: flex;
    justify-content: space-between;
}
#password{
    width: 75%;
}
.toggle-password{
    cursor: pointer;
    font-size: 1.5rem;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Para 1920px */
@media (max-width: 1920px) {
    .modal-content1 {
        margin-top: 4rem;
      margin-left: 83%;
      width: 20rem;
      height: 20rem;
    }
  }
  
  /* Para 1366px */
  @media (max-width: 1366px) {
    .modal-content1 {
      margin-left: 75%;
      width: 20rem;
      height: 20rem;
    }
  }
  
  /* Para 1200px */
  @media (max-width: 1200px) {
    .modal-content1 {
      margin-left: 70%;
      width: 20rem;
      height: 20rem;
    }
  }
  
  /* Para 768px */
  @media (max-width: 768px) {
    .modal-content1 {
      margin-left: 65%;
      width: 15rem;
      height: 25rem;
    }
  }
  
  /* Para 480px */
  @media (max-width: 480px) {
    .modal-content1 {
      margin-top: 10%;
      margin-left: 45%;
      width: 80%;
      max-width: 250px;
    }
  }
  
@media (max-width: 375px) {
    .modal-content1 {
      margin-top: 13%;
      margin-left: 30%;
      width: 80%;
      height: 20rem;
      max-width: 250px;
    }
}
  